<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JSONP</title>
</head>
<body>
    <button onclick="getPrice()">click me</button>
    <div id="test-jsonp">通过javascript请求外域json</div>
    <script>
        function getPrice(data) {
            var
                js = document.createElement('script'),
                head = document.getElementsByTagName('head')[0];
            js.src = 'http://api.money.126.net/data/feed/0000001,1399001?callback=refreshPrice';
            head.appendChild(js);

        }

        function refreshPrice(data) {
            var p = document.getElementById('test-jsonp');
            p.innerHTML = '当前价格：' +
            data['0000001'].name +': ' +
            data['0000001'].price + '；' +
            data['1399001'].name + ': ' +
            data['1399001'].price;
        }
    </script>
</body>
</html>